<%= form_for [@story, @story.snippets.build], :html => {:class => 'form-horizontal'} do |f| %>

	<div class="control-group">
        <%= f.text_area :content, :class => 'text_area, input-block-level', :placeholder => 'What happens next?' %>
    </div>




<h5>Tags: <span class="tag_cloud3">(You can edit them, but keep in mind that you can not see the whole story.)</span></h5>

 <%= f.fields_for @story, :html => {:class => 'form-horizontal'} do |h| %>
  <div class="control-group">
   <%= h.text_field :tag_list, :class => 'text_field, input-xxlarge', :placeholder => "Tags (separated by commas)"  %>
  </div>
 <%end %>




  <div class="form-actions">
  
 <%= f.submit nil, :class => 'btn btn-primary' %>
 
  <%= f.submit "Cancel", :name => 'submit', :class => 'btn'%>


  </div>
  

 
<% end %>





