<%= form_for [@story, @story.snippets.build], :html => {:class => 'form-horizontal'} do |f| %>

    <div class="control-group">
      <%= f.text_area :content, :class => 'text_area, input-block-level', :placeholder => 'What happens next?' %>
    </div>

    <h6>
      Tags:
    </h6>
    <% @story.tags.each do |tag| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name) %>
    <% end %>

    <%= f.fields_for @story do |ff| %>
        <%= ff.text_field :tag_list, :class => 'text_field, input-xxlarge', :placeholder => "Tags (separated by commas)" %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  root_path, :class => 'btn' %>

    </div>




<% end %>
