<%- model_class = Snippet -%>
<div class="page-header handWritten">
 <h1 class="snippet"><%= @story.title %></h1>
</div>

<div class="handWritten">
<h2>
<% if @story.snippets.first.content != nil %>
 <%= @story.snippets.order("created_at ASC").last.content%>
<% end %>
</h2>
</div>

<div class="handWritten">
<%= render :partial => 'form' %>
</div>

<hr />

<h4>The following bar helps you to situate your snippet in the story</h4>
<progress value="<%= @story.snippets.count %>" max="<%= @story.size%>"></progress>

<h2>
<% if @story.snippets.count == @story.size - 1 %>
 You have to finish this story! 
<% end %>
</h2>


 
 
<p>---------------------- TODO adding tags here ----------------------</p> 
 
 

 

<div class="form-actions">
 <%= submit_tag "Add this part to the story", :class => 'btn btn-primary', :name => 'submit', :onclick => "save()" %>	
 <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
</div>	 
 
 
 
 

<% content_for :script do %>
<script type="text/javascript">
 window.onunload = function(){document.forms['snippetForm'].submit();}
 function save(){
  window.onunload = null; //don't need it now
  document.getElementById('ifSave').value = "save";
  document.forms['snippetForm'].submit();
 }
</script>
<% end %>























