<%- model_class = Snippet -%>
<div class="page-header">
 <h1 class="snippet"><%= @story.title %></h1>
</div>

<h2>
<% if @story.snippets.first.content != nil %>
 <%= @story.snippets.order("created_at ASC").last.content%>
<% end %>
</h2>

<%= render :partial => 'form' %>

<hr />

<h4>The following bar helps you to situate your action in the story</h4>
<progress value="<%= @story.snippets.count %>" max="<%= @story.size%>"></progress>

<h2>
<% if @story.snippets.count == 0 %>
 You have to begin this story!
<% elsif @story.snippets.count == @story.size - 1 %>
 You have to finish this story! 
<% end %>
</h2>

<div class="btn btn-success">
 <a href=<%= root_path %>>SAVE!</a>
</div>
 
 

<% content_for :script do %>
<script type="text/javascript">
 window.onunload = function(){document.forms['snippetForm'].submit();}
</script>
<% end %>























