<%- model_class = Snippet -%>
<div class="page-header handWritten">
  <h1 class="snippet"><%= @story.title %></h1>
</div>

<div class="handWritten">
<pre class="handWritten">
<% if @story.snippets.first.content != nil %>
 <%= @story.snippets.order("created_at ASC").last.content %>
<% end %>
</pre>
</div>

<div class="handWritten">
  <%= render :partial => 'form' %>
</div>


<h6>
Tags:
</h6>
<% @story.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>



<hr/>

<h4>The following bar helps you to situate your snippet in the story</h4>
<progress value="<%= @story.snippets.count %>" max="<%= @story.size %>"></progress>

<h2>
  <% if @story.snippets.count == @story.size - 1 %>
      You have to finish this story!
  <% end %>
</h2>




<p>---------------------- TODO adding tags here ----------------------</p> 
 
 

 

 























