<%= image_tag "gb.jpg", :class => 'gb' %>

<h3 id="catchphrase">STORYSMOKER - SMOKE YOUR STORIES - TOGETHER</h3>
<hr />


<div id="read">
 <h2><%= link_to 'Read existing Stories', stories_path %></h2>
  <% if @tags.count > 0 %>
      <ul>
        <p>The following Tags are available to browse:</p>
        <% tag_cloud @stories.tag_counts, %w(tag_cloud4 tag_cloud3 tag_cloud2 tag_cloud1) do |tag, css_class| -%>
            <%= link_to tag.name, tagged_url(:tag => tag.name), :class => css_class -%>
        <% end -%>
      </ul>
  <% else %>

  <% end %>
</div> 

<div id="create"> 
<h2>

<% if Story.where(status: 'editable').count > 0 %>
 <%= link_to 'Continue a story', new_story_snippet_path(Story.where(status: 'editable').offset(rand(Story.where(status: 'editable').count)).first.id) %>
<% else %> 
 no story at the moment
<% end %>
</h2>
<h2>
 <%= link_to 'Create a new story', new_story_path%>
</h2>
</div>

<%= image_tag "hg.png" %>





