<h3 id="catchphrase">STORYSMOKER - SMOKE YOUR STORIES - TOGETHER</h3>
<hr />

<div id="read">
 <h2><%= link_to 'Read existing Stories', stories_path %></h2>
  <% if @tags.count > 0 %>
      <ul>
        <p>The following Tags are available to browse:</p>
        <% tag_cloud @stories.tag_counts, %w(tag_cloud4 tag_cloud3 tag_cloud2 tag_cloud1) do |tag, css_class| -%>
            <%= link_to tag.name, tagged_url(:tag => tag.name), :class => css_class -%>
        <% end -%>
      </ul>
  <% else %>

  <% end %>
</div> 

<div id="create"> 
<h2>
 <div class="dynamic"><%= render partial: 'dynamic' %></div>
</h2>
<h2>
 <%= link_to 'Create a new story', new_story_path%>
</h2>
</div>



<div id="randomStoryBackground">
<div id="randomStory" class="handWritten">
<% if Story.where(status: 'finished').count > 0 %>
 <%= render Story.where(status: 'finished').offset(rand(Story.where(status: 'finished').count)).first.snippets.sort_by &:created_at %>
<%else%>
no story finished actually
<%end%>
</div>
</div>


<% content_for :script do %>
<script type="text/javascript">
 $(document).ready(
  function() {
   setInterval(function() {
    $('.dynamic').load('/welcome/refresh');
   }, 1000);
 });
</script>
<% end %>
