<%= form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
 The title of my new funny story is
 <%= f.text_field :title, :class => 'text_field, input-xlarge', :placeholder => "Title"%> <br />
 The story will contain
 <%= f.select :size, options_for_select([ "5", "10", "15", "20" ], "5"), {:prompt => "-- How many snippets? --"}, :class => 'input-small'%> distinct snippets. Each snippet can be written by a distinct user! <br />
 Finally, my story should speak about...
 <%= f.text_field :tag_list, :class => 'text_field, input-xxlarge', :placeholder => "Tags (separated by commas)" %> 
 <hr />
 Now you can begin your story dude!
 <%= f.fields_for [@story, @story.snippets.build], :html => {:class => 'form-horizontal'} do |h| %>
  <div class="control-group">
   <%= h.text_area :content, :class => 'text_area, input-block-level', :placeholder => 'Begin of the story' %>
  </div>
 <%end %>	
	

  <%= f.hidden_field :status, :value => 'editable' %>

  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>	
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
