<%= form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :placeholder => "Title" %>
    </div>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field', :placeholder => "Tags (separated by commas" %>
    </div>
	<div class="controls">
     <%= f.select :size, options_for_select([ "5", "10", "15", "20" ], "5"), {:prompt => "-- How many snippets? --"}%>	
	</div>
  <%= f.hidden_field :status, :value => 'editable' %>

  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>	
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
