<%- model_class = Story -%>

<div class="page-header handWritten">
  <h1><%= @story.title %></h1>

</div>

<%= flash[:notice]%>
here <%= @current_user.__id__%>

<% if @current_user.present? %>

    <td><%= toggle_like_button(@story, @current_user)%>    </td>
      <% end %>





<div class="handWritten">

<%= render @story.snippets.sort_by &:created_at %>

</div>




you are here

<%= render @story.snippets %>

<div id="tagStoryShow">
<div id="tagStoryShowList">
 <% @story.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
 <% end %>
</div> 
</div>


